<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="">
</head>
<body>
    This is our login page <br>
    <form action="/studentlogin" method="POST">
    <input type="number" name="rollno" placeholder="Roll No">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
    
    </form>
    <form action = "/studentsignup" method="GET">
        <input type="submit" name="signup" value="signup">
    </form>
    
</body>
</html>